*{
    margin: 0px;
    padding: 0px;
}
.main{
    display: flex;
    list-style-type: none;
    width: 1500px;
    height: 100px;
    background-color: aliceblue;
    padding-top: 20px;
    position: fixed;
    
}
.logo{
    display: flex;
    padding-top: 10px;
 
}
.b1 h1{
    font-size: 20px;
    padding-top: 30px;
}
.navbar{
   padding-left: 500px;
  
}
ul{
    display: flex;
}
li{
    list-style-type: none;
    padding-left: 40px;
    padding-top: 30px;
   
}
li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.61);
    font-weight: bold
}
.b2 h1{
    
        font-size: 50px;
        padding-top: 150px;
       padding-left: 30px;
    }
    .box1{
        display: flex;
        width: 100%;
        column-gap: 40px;
        padding-top: 30px;
    }
    .b3{
        width: 600px;
        height: 500px;
        background-color: white
    }
    .b3 h3{
        font-size: 20px;
        
    }
    .b3 p{
        font-size: 20px;
    padding-top: 20px;
    }
    .b4{
        width: 600px;
        height: 500px;
        background-color: white
    }
    .b4 h3 {
        font-size: 20px;
    }
    .b4 p{
        font-size: 20px;
    padding-top: 20px;
    }
    
    .b5{
        width: 600px;
        height: 500px;
        background-color: white
    }
    .b5 h3{
        font-size: 20px;
    }
    .b5 p{ 
        font-size: 20px;
        padding-top: 20px;}
        .box2{
            display: flex;
            width: 100%;
            column-gap: 40px;
            padding-top: 30px;
        }
        .b6{
            width: 600px;
            height: 500px;
            background-color: white
        }
        .b6 h3{
            font-size: 20px;
            
        }
        .b6 p{
            font-size: 20px;
        padding-top: 20px;
        }
        .b7{
            width: 600px;
            height: 500px;
            background-color: white
        }
        .b7 h3 {
            font-size: 20px;
        }
        .b7 p{
            font-size: 20px;
        padding-top: 20px;
        }
        
        .b8{
            width: 600px;
            height: 500px;
            background-color: white
        }
        .b8 h3{
            font-size: 20px;
        }
        .b8 p{ 
            font-size: 20px;
            padding-top: 20px;}
           .box3{
            display: flex
           }
           .b9 h1 {
            padding-top: -200px;
           }
           .box4{
            display: flex;
            column-gap: 300px;
            padding-top: 50px;
        }
        .b9 p{
            font-size: 10px;
        
        }
        
        .box3{
            display: flex;
            column-gap: 300px;
            padding-top: 50px;
        }
        .b9 p{
            font-size: 20px;
        
        }
        
        
        .b9 h1{
            font-size: 20px;
        }
    
        .b10 h1{
            font-size: 20px;
        
        }
        .b10 p{
            font-size: 20px;
        } 
        .b11 h1{
            font-size: 20px;
        }
        .b11 input{
            border-bottom: 1px black solid;
            padding-top: 50PX;
            padding-top: 30px;
            text-size-adjust: 10px;
            font-size: 30px;
        }
        input{
            outline: 0;
            border-width: 0 0 2px;
           
        }
         button:hover{
            background-color: white;
             color: black;
        }
        .b11 button {
            background-color: rgba(0, 0, 0, 0.753);
            color: white;
            padding-left: 50px;
            padding-right: 50px;
            padding-bottom: 10px;
            padding-top: 10px;
            border-radius: 60px;
            margin-top: 20px;
        
        }
        .BOX4 {
         padding-left: 700px;
         display: flex;
         padding-top: 200PX;
         max-width:20px ;
        
         }  
        .BOX4 button{
            background-color: rgba(0, 0, 0, 0.753);
            color: white;
            padding-left: 50px;
            padding-right: 50px;
            padding-bottom: 10px;
            padding-top: 10px;
            border-radius: 60px; 
        }
        button:hover{
            background-color: white;
             color: black
        }
           
           
           